<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB5Kne0SD8m6ovIrJ3vx1mX5czbGKoajY8</string>
	<key>GCM_SENDER_ID</key>
	<string>423901980794</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stardust.mimehealth</string>
	<key>PROJECT_ID</key>
	<string>mime-health</string>
	<key>STORAGE_BUCKET</key>
	<string>mime-health.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:423901980794:ios:549b1689057f8520dd73c3</string>
</dict>
</plist>